### Eclipse ###
.metadata
.metadata/
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
Debug/
Release/
build/
RemoteSystemsTempFiles/

# STM32 git ignore
.ai/
Test_Nucleo_F446RE/

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific (C/C++ Development Tooling)
#.cproject

# CDT- autotools
.autotools

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# Code Recommenders
.recommenders/

# Annotation Processing
.apt_generated/
.apt_generated_test/

# Scala IDE specific (Scala & Java development for Eclipse)
.cache-main
.scala_dependencies
.worksheet

# Uncomment this line if you wish to ignore the project description file.
# Typically, this file would be tracked if it contains build/dependency configurations:
#.project

### Eclipse Patch ###
# Spring Boot Tooling
.sts4-cache/

# Arquivos de projeto temporários
*.swp
*.swo
*~
*.bak

# Objetos compilados e bibliotecas
*.o
*.obj
*.a
*.so
*.exe
*.out
*.dylib
*.dll

# Arquivos temporários de log e bancos de dados
*.log
*.sql
*.sqlite

# Configurações do IDE
.vscode/